<input type="number" name=price [(ngModel)]="priceMax">
<div class="row">

    <div class="col-md-4" *ngFor=" let p of listProduct, let i=index">
        <div *ngIf="p.price<priceMax || priceMax==null">
            <div class="card " style="width: 18rem; ">
                <img src="https://static.bershka.net/4/photos2/2022/I/0/2/p/2766/777/800//01/2766777800_2_4_3.jpg?t=1660741431395 " alt="Card image cap ">
                <div class="card-body ">
                    <h5 class="card-title ">{{p.title}}</h5>
                    <p class="card-text "> Price : {{p.price}}</p>
                    <p class="card-text "> Quantity : {{p.quantity}}</p>
                    <p class="card-text "> Like : {{p.like}}</p>
                    <button class="btn btn-primary " (click)="increment(i) ">Like</button>
                    <button class="btn btn-danger " (click)="buy(i) " [disabled]="p.quantity==0">buy</button>
                </div>
            </div>
        </div>
    </div>
</div>